{% if page.comments %}
<script src="https://apis.google.com/js/plusone.js"></script>
  
<div class="g-comments"
  data-href="{{site.baseurl}}{{page.url}}"
  data-width="642"
  data-first_party_property="BLOGGER"
  data-view_type="FILTERED_POSTMOD">
</div>
{% endif %}
