<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  
	<div class="sidebar-logo" style="align:center">
		<img src="{{ site.baseurl }}CodeMonkey.jpg" />
	</div>

	<div id="contact-list" style="text-align:center">
		{% if site.author.gitlab %}
		<a href="https://gitlab.com/{{ site.author.gitlab }}">
			<span class="fa-stack fa-lg">
				<i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-github-alt fa-stack-1x"></i>
			</span>
		</a>
		{% endif %}

		{% if site.author.linkedin %}
		<a href="https://linkedin.com/in/{{ site.author.gitlab }}">
			<span class="fa-stack fa-lg">
				<i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-linkedin fa-stack-1x"></i>
			</span>
		</a>
		{% endif %}

		{% if site.author.email %}
		<a href="mailto: {{ site.author.email }}">
			<span class="fa-stack fa-lg">
				<i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-envelope fa-stack-1x"></i>
			</span>
		</a>
		{% endif %}
  
		{% if site.rss %}
		<a href="{{ site.url }}atom.xml">
			<span class="fa-stack fa-lg">
				<i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-rss fa-stack-1x"></i>
			</span>
		</a>
		{% endif %}
	</div>
  
	<div class="sidebar-item" style="text-align: center">
		<p>{{ site.description }}</p>
	</div>

	<nav class="sidebar-nav">
		<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

		{% comment %}
		The code below dynamically generates a sidebar nav of pages with
		`layout: page` in the front-matter. See readme for usage.
		{% endcomment %}

		{% assign pages_list = site.pages | sort:"url" %}
		{% for node in pages_list %}
			{% if node.title != null %}
				{% if node.layout == "page" %}
					<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
				{% endif %}
			{% endif %}
		{% endfor %}

		<a class="sidebar-nav-item" href="{{ site.gitlab.repo }}">GitLab project</a>
		<span class="sidebar-nav-item">Currently v{{ site.version }}</span>
	</nav>

	<div class="sidebar-item">
		<p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
	</div>
</div>
